include _header.jade
<div class="content_block_wr">
    <div class="path_block block_inner">
        <a href="/" class="link" title="Главная" itemprop="item">Главная</a><span class="sepr"> &gt; </span>
        <span class="text">Производители</span>
    </div>
    <div class="inner_page block_inner">
        <h1 class="title">ABBER <span class="product-count">2 569 товаров</span></h1>
        <p class="description">Этот раздел полностью принадлежит производителю сантехники, смесителям(фирменной арматуры, смесителей, сантехнической керамики и прочей продукции для ванной комнаты. Здесь вы можете найти подробную информацию по европейским брендам и концернам, занимающимся производством сантехники, о моменте образования, до сегодняшних дней. Особенности производителей, их инновационные решения при производстве сантехники.</p>
        <div class="banner-section-block">
            <div class="banner-image">
                <img src="files/br.jpg" alt="">
            </div>
            <div class="banner-content-block">
                <div class="banner-logo"><img src="files/logo.jpg" alt=""></div>
                <h2 class="banner-title">Заголовок баннера или акции по доступной цене</h2>
                <p class="banner-text">Здесь вы можете найти подробную информацию по европейским брендам</p>
                <button class="btn-details">Подробнее</button>
            </div>
        </div>
        <div class="collections-grid-wrap inner-block">
            <h2>Коллекции</h2>
            <div class="collections-grid">
                <div class="collection-card">
                    <div class="collection-image">
                        <img src="files/kol1.jpg" alt="">
                    </div>
                    <div class="collection-content">
                        <h3 class="collection-title">Коллекция DAHFIM</h3>
                    </div>
                </div>
                <div class="collection-card">
                    <div class="collection-image">
                        <img src="files/kol2.jpg" alt="">
                    </div>
                    <div class="collection-content">
                        <h3 class="collection-title">Коллекция</h3>
                    </div>
                </div>
                <div class="collection-card">
                    <div class="collection-image">
                        <img src="files/kol3.jpg" alt="">
                    </div>
                    <div class="collection-content">
                        <h3 class="collection-title">Коллекция</h3>
                    </div>
                </div>
                <div class="collection-card">
                    <div class="collection-image">
                        <img src="files/kol4.jpg" alt="">
                    </div>
                    <div class="collection-content">
                        <h3 class="collection-title">Коллекция DAHFIM</h3>
                    </div>
                </div>
                <div class="collection-card">
                    <div class="collection-image">
                        <img src="files/kol5.jpg" alt="">
                    </div>
                    <div class="collection-content">
                        <h3 class="collection-title">Коллекция</h3>
                    </div>
                </div>
                <div class="collection-card">
                    <div class="collection-image">
                        <img src="files/kol6.jpg" alt="">
                    </div>
                    <div class="collection-content">
                        <h3 class="collection-title">Коллекция</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade